# Basic Site Settings
locale: "en-US"
site_theme: "default"
title: "Profile"
title_separator: "-"
name: "Najy Altarawne"
description: "Computer Science student at University of Houston"
url: "https://najyaltarawne.github.io"
baseurl: ""
repository: ""

# Site Author
author:
  avatar: "profile.jpg"
  name: "Najy AlTarawne"
  bio: "Computer Science student at the University of Houston with a 3.82 GPA, minoring in Math. Expected graduation May 2026."
  location: "Houston, TX"
  employer: "University of Houston"
  email: "najyaltarawne@yahoo.com"
  github: "najyaltarawne"

last_updated: "2026-01-26"

footer:
  show: false

# Google Analytics
analytics:
  provider: google-gtag
  google:
    tracking_id: G-SQJ4PCDT8H

# Site Settings
teaser:
breadcrumbs: false
words_per_minute: 160
future: true
read_more: "disabled"
talkmap_link: false

comments:
  provider:

atom_feed:
  hide: false
  path:

# SEO
google_site_verification:
bing_site_verification:
alexa_site_verification:
yandex_site_verification:

# Social Sharing
twitter:
  username:
facebook:
  username:
  app_id:
  publisher:

og_image:
og_description:

social:
  type:
  name:
  links:

# Reading Files
include:
  - .htaccess
  - _pages
  - files

exclude:
  - "*.sublime-project"
  - "*.sublime-workspace"
  - .asset-cache
  - .bundle
  - .github
  - .jekyll-assets-cache
  - .sass-cache
  - assets/js/_main.js
  - assets/js/plugins
  - assets/js/vendor
  - CHANGELOG
  - Capfile
  - config
  - Dockerfile
  - Gemfile
  - Gruntfile.js
  - gulpfile.js
  - LICENSE
  - local
  - log
  - node_modules
  - package.json*
  - Rakefile
  - README
  - tmp
  - vendor

keep_files:
  - .git
  - .svn

encoding: "utf-8"
markdown_ext: "markdown,mkdown,mkdn,mkd,md"

# Conversion
markdown: kramdown
highlighter: rouge
lsi: false
excerpt_separator: "\n\n"
incremental: false

# Plugins allowed by GitHub Pages
plugins:
  - jekyll-feed
  - jekyll-seo-tag
